/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#141414;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}
/* ---- Login section ---- */

/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100vh;
  background-color: #141414;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box{
  position: absolute;
  width: 400px;
  height: 450px;
  background: transparent;
  border: #13E8E9 2px solid;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  align-content: center;
  justify-content: center;  
  overflow: hidden;
  transition: height 0.5s ease;
}


h2{
  margin: 5px auto;
  font-size: 2em;
  color: #13E8E9;
  text-align: center;
  cursor:default ;
}

.switch{
  width: 220px;
  position: relative;
  margin: 20px auto;
  border-radius: 30px;
  background: #2f89ff;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background:transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #13E8E9;
  color: #000;
  border-radius: 30px;
  transition: 1s;
}

.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #13E8E9;
}

.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #13E8E9;
  font-size: 1.2em;
  font-weight: bold;
  pointer-events: none;
  transition: .5s;
}
input:valid ~ label, input:focus ~ label{
  top: -5px;
}

.inputbox input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #13E8E9;
}

.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #13E8E9;
  font-size: 1.6em;
  top: 20px;
}

.forget, .remember{
  margin: 15px 0 15px ;
  font-size: 1.2em;
  color: #13E8E9;
  display: flex;
}

.input-bx{
  position: relative;
  margin-left: 5px;
}
.remember label input{
  margin-right: 3px;
  border-radius: 50%;
}

.button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #13E8E9;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
  font-size: 18px;
}

#Login{
  left: 50px;
}

#Register{
  left: 450px;
}

form{
  position: absolute;
  transition: .5s ease;
}


/* Show password test */

.show_password , .hide_password{
  position: absolute;
  margin-right: 35px;
}
.hidden{
  display: none;
}



/*youtube source :

https://www.youtube.com/watch?v=828Qsr7-I0g

https://www.youtube.com/watch?v=6H40lhp2bGw ===>>> Border animations

https://www.youtube.com/watch?v=A6dz4Q-O3GE ===>>> Loading animation

https://www.youtube.com/watch?v=pvjNbaV0Keo ===>>> Expanding flex card